.main-sign {
  display: flex;
  flex-direction: column;
  background-image: url("../images/bgs/forest.webp");
  flex: 1;
}

.main-sign .content {
  margin: auto;
  width: 40%;
}

.main-sign section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  background-color: #aaaaaa88;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid white;
  margin-bottom: 20px;
  transition: background-color 200ms;
}

.main-sign section:hover {
  background-color: #bbbbbbaa;
}

.main-sign h2 {
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 0px 0px 4px #333;
}

.main-sign input {
  box-sizing: border-box;
  display: block;
  margin: auto;
  width: 100%;
  height: 3rem;
  padding: 10px;
  font-size: 1.4rem;
  /* margin-bottom: 10px; */
  border: none;
  border-radius: 3px;
}

.main-sign input[type="submit"] {
  color: #333;
  background-color: #68b8bb;
  margin-bottom: 0px;
  width: 60%;
}

.main-sign section.or {
  text-align: center;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.main-sign p {
  padding: 5px;
  color: rgb(173, 61, 61);
  margin-bottom: 5px;
}